.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="number"],
.form input[type="tel"],
.form input[type="url"],
.form input[type="search"],
.form input[type="date"],
.form input[type="time"],
.form input[type="datetime-local"],
.form input[type="month"],
.form input[type="week"],
.form input[type="color"],
.form input[type="file"],
.form input[type="checkbox"],
.form input[type="radio"],
.form input[type="range"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--input-bg);
  color: var(--input-text);
  outline: 2px solid var(--bg-dark);
}

.form input::placeholder {
  color: var(--placeholder-text);
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="tel"]:focus,
.form input[type="url"]:focus,
.form input[type="search"]:focus,
.form input[type="date"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="month"]:focus,
.form input[type="week"]:focus,
.form input[type="color"]:focus,
.form input[type="file"]:focus,
.form input[type="checkbox"]:focus,
.form input[type="radio"]:focus,
.form input[type="range"]:focus {
  outline: 2px solid var(--clr);
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}
