*:has(> .container2) {
  display: grid;
  place-items: center;
  margin: auto 0;
  border: gray dotted 5px;
}

.container2 {
  width: 510px;
  /* aspect-ratio: 1/1; */
  border: rgb(36, 124, 124) dotted 5px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.item {
  font-size: 3rem;
  color: rgb(202, 200, 200);

  /* flex: 1 1 50%; */
  flex-grow: 1;
  /* flex-shrink: 1; */
  flex-shrink: 2;
  flex-basis: 50%;
  /* flex-basis: 200px; */
  /* flex-basis: 25%; */
}
