*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color: white;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}
