.root {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    height: 15vh;
    border: 5px dotted darkkhaki;
  }

  main {
    border: 5px dotted seagreen;
  }

  footer {
    height: 10vh;
    border: 5px dotted darkslategray;
  }
}
