.root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  & > * {
    margin: auto;
  }

  * {
    padding: 2rem;
  }

  :first-child {
    border: 5px dotted seagreen;
    aspect-ratio: 1/1;
  }

  :nth-child(2) {
    border: 5px dotted darkkhaki;
    aspect-ratio: 1/1;
  }
}
