.section01 {
  display: grid;
  grid-template-areas:
    "heading"
    "text"
    "button"
    "."
    "photo";
  grid-template-rows: repeat(4, auto) 480px;
  row-gap: 24px;
  justify-items: center;
  text-align: center;

  > h2 {
    grid-area: heading;
  }

  > p {
    grid-area: text;
  }

  > button {
    grid-area: button;
  }

  > img {
    grid-area: photo;
  }
}

.section02 {
  display: grid;
  grid-template-areas:
    ". photo"
    "heading photo"
    "text photo"
    "button photo"
    ". photo";

  grid-template-columns: 3fr 4fr;
  grid-template-rows: 96px repeat(3, auto) 96px;
  column-gap: 48px;
  row-gap: 24px;

  > h2 {
    grid-area: heading;
  }

  > p {
    grid-area: text;
  }

  > button {
    grid-area: button;
  }

  > img {
    grid-area: photo;
    height: 0;
    min-height: 100%;
  }

  @media (width <= 768px) {
    grid-template-areas:
      "photo"
      "heading"
      "text"
      "button";
    grid-template-columns: auto;
    grid-template-rows: 240px repeat(3, auto);
  }
}

.section02_1 {
  display: grid;
  grid-template-areas:
    ". photo"
    "heading photo"
    "text photo"
    "button photo"
    ". photo";

  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr repeat(3, auto) 1fr;
  column-gap: 48px;
  row-gap: 24px;

  > h2 {
    grid-area: heading;
  }

  > p {
    grid-area: text;
  }

  > button {
    grid-area: button;
  }

  > img {
    grid-area: photo;
  }

  @media (width <= 768px) {
    grid-template-areas:
      "photo"
      "heading"
      "text"
      "button";
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  }
}

.section02_2 {
  composes: section02_1;
  grid-template-areas:
    "photo ."
    "photo heading"
    "photo text"
    "photo button"
    "photo .";
}

.section03 {
  display: grid;
  grid-template-areas:
    ". . ."
    ". heading ."
    ". text ."
    ". button ."
    ". . .";
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 96px repeat(3, auto) 96px;
  justify-items: center;
  color: white;
  text-align: center;
  row-gap: 24px;

  > h2 {
    grid-area: heading;
  }

  > p {
    grid-area: text;
  }

  > button {
    grid-area: button;
  }

  > img {
    grid-column: 1/ -1;
    grid-row: 1/ -1;
    z-index: -1;
    filter: brightness(0.5);
    height: 0;
    min-height: 100%;
  }
}

.section03_2 {
  display: grid;
  grid-template-areas:
    ". . ."
    ". heading ."
    ". text ."
    ". button ."
    ". . .";
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 140px repeat(3, auto) 40px;
  row-gap: 24px;
  justify-items: start;
  color: white;
  text-align: left;

  /* 行のトラックサイズ確定の処理から画像を除外 */
  > img {
    height: 0;
    min-height: 100%;
  }

  /* アイテムの配置先 */
  > h2 {
    grid-area: heading;
  }

  > p {
    grid-area: text;
  }

  > button {
    grid-area: button;
  }

  > img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: -1;
    filter: brightness(0.5);
  }
}
