.root {
  min-height: 100vh;

  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;

  header,
  nav,
  main,
  aside,
  footer {
    padding: 12px;
  }

  header {
    background-color: tomato;
    grid-column: 1 / 4;
    height: 60px;
  }

  nav {
    background-color: coral;
    grid-column: 1 / 2;
  }

  main {
    background-color: moccasin;
    grid-column: 2 / 3;
  }

  aside {
    background-color: sandybrown;
    grid-column: 3 / 4;
  }

  footer {
    background-color: slategray;
    grid-column: 1 / 4;
    height: 100px;
  }
}
