.cart {
  display: grid;

  > img {
    height: 0;
    min-height: 100%;
    grid-area: photo;
  }

  > h2 {
    grid-area: title;
  }

  > p {
    grid-area: subtitle;
  }

  > .avatar {
    grid-area: avatar;
  }
}
.cart01 {
  @extend .cart;
  grid-template:
    "photo photo photo photo photo" 1fr
    ". . . . . " 8px
    ". avatar . title ." auto
    ". avatar . subtitle ." auto
    ". . . . . " 8px
    / 8px auto 8px 1fr 8px;

  height: 200px;
}

.cart02 {
  @extend .cart;

  grid-template:
    "photo . . . " 20px
    "photo . title . " auto
    "photo . subtitle . " auto
    "photo . avatar . " 1fr
    "photo . . . " 20px
    / 40% 12px 1fr 12px;

  height: 120px;

  > .avatar {
    place-self: end;
  }
}
