.root {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

/* Set containment on parent */
.container {
  container-type: inline-size;
  max-width: 750px;
  margin: 0 auto;
  border: 5px dotted seagreen;
}

.card {
  text-align: center;
  padding: 0.5rem;
}

/* Responsive styles */

/* 2-column grid layout at >=350px */
@container (width >= 350px) {
  .card {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    gap: 1rem;
    text-align: left;
  }
}

/* Base Styles */
.visual {
  background-color: darkcyan;
  aspect-ratio: 1 / 1;
}

.desc {
  display: none;
}

/* Display description at >=500px */
@container (min-width: 500px) {
  .desc {
    display: block;
  }
}
