.container {
  display: flex;
  gap: 3px;

  p {
    font-size: 1.5rem;
    color: rgb(191, 190, 190);
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 10rem;
  border: 1px solid rgb(164, 164, 164);

  input {
    text-align: center;
    width: 100%;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0;
    border: none;
  }

  label {
    background-color: rgb(241, 241, 241);
    color: black;
    text-align: center;
    border-top: 1px solid rgb(164, 164, 164);
    padding: 4px;
  }
}
